.section__landing {
   position: relative;
   height: 100vh;
   .wrapper {
     display: table;
     height: 100%;
     > div {
       display: table-cell;
       vertical-align: middle;
     }
   }
   .section__bg {
      @extend %background_img;
      //background-image: url('../img/future_me_v2.jpg');
      background: $blue;
   }
   .section__title {
      text-align: center;
      color: $white;
      display: block;
      width: 600px;
      margin: 0 auto;
      padding: 50px 20px 40px;
      border: 10px solid transparent;
      position: relative;
      .box__top {
         position: absolute;
         height: 7px;
         width: 0;
         background: $white;
         top: 0;
         left: 0;
         transition: width 0.4s ease;
         transition-delay: 1s;
         &.animated {
            width: 100%
         }
      }
       .box__bottom {
         position: absolute;
         height: 7px;
         width: 0;
         background: $white;
         bottom: 0;
         right: 0;
         transition: width 0.4s ease;
         transition-delay: 1s;
         &.animated {
            width: 100%
         }
      }
       .box__right {
         position: absolute;
         height: 0px;
         width: 7px;
         background: $white;
         top: 0;
         right: 0;
         transition: height 0.4s ease;
         transition-delay: 1s;
         &.animated {
            height: 100%
         }
      }
      .box__left {
         position: absolute;
         height: 0px;
         width: 7px;
         background: $white;
         bottom: 0;
         left: 0;
         transition: height 0.4s ease;
         transition-delay: 1s;
         &.animated {
            height: 100%
         }
      }
      .flowers_01 {
         position: absolute;
         bottom: -70px;
         left: -58px;
         width: 150px;
         transform: scale3d(0,0,0);
         transition: transform 0.3s ease;
         transition-delay: 1.15s;
         &.animated {
            transform: scale3d(1,1,1);
         }
      }
      .flowers_02 {
         position: absolute;
         top: -23px;
         right: -60px;
         width: 125px;
         transform: scale3d(0,0,0);
         transition: transform 0.3s ease;
         transition-delay: 1.15s;
         &.animated {
            transform: scale3d(1,1,1);
         }
      }
   }
}

@media (max-width: 1920px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  .section__landing {
    .section__title {
      width: 535px;
    }
  }
}

@media (max-width: 992px) {
  .section__landing {
    .section__title {
      width: 490px;
      .flowers_01 {
        bottom: -55px;
        left: -55px;
        width: 125px;
      }
    }
  }

}

@media (max-width: 768px) {
  .section__landing {
    min-height: 400px;
    .section__title {
      max-width: 430px;
      width: 100%;
      .flowers_01 {
        bottom: -43px;
        left: -38px;
        width: 100px;
      }
      .flowers_02 {
        top: -30px;
        right: -45px;
        width: 105px;
      }
    }
  }
}

@media (max-width: 480px) {
  .section__landing {
    .section__title {
      max-width: 385px;
      width: 100%;
      .flowers_01 {
        bottom: -38px;
        left: -33px;
        width: 90px;
      }
      .flowers_02 {
        top: -20px;
        right: -35px;
        width: 90px;
      }
    }
  }
}

@media (max-width: 320px) {
}
