/* ==========================================================================
   Global/Colors
   ========================================================================== */

/* Color Hexs */
$white: #fff;
$black: #000;
$pink: #CC1168;
$dark_pink: #7F1748;
$blue: #1C8799;
$dark_blue: #046E7F;
$yellow: #D4C227;

/* Primary Colors */
$color-primary: $white;
$color-secondary: $black;
$color-tertiary: $pink;

/* Font Colors */
$font-color-primary: $black;
$font-color-seconday: $white;

// $color-font-tertiary: ;

/* Link Colors */
